@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  font-family: 'Karla';
  background-color: #0b2434;
}

main {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  text-align: center;
  margin: 30px 20px;
  padding: 5px;
  border-radius: 10px;
}

.dice__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.die__face {
  cursor: pointer;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.die__num {
  font-size: 2rem;
}

.dice__roll {
  background-color: #5035FF;
  color: white;
  width: 150px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 21px;
}


.dice__roll:active {
box-shadow: inset 1px 1px 1px 1px;
}